<div id="header">
  <div class="first">
    <ul>
      <li class="main">
          <svg
              xmlns="http://www.w3.org/2000/svg"
              width="65"
              height="16"
              viewBox="0 0 65 16"
          >
              <title>OP.GG</title>
              <path
              fill="#FFF"
              fill-rule="nonzero"
              d="M7.818 12.234c2.265 0 4.107-1.86 4.107-4.149 0-2.288-1.842-4.15-4.107-4.15S3.71 5.798 3.71 8.086c0 2.288 1.843 4.15 4.108 4.15zm0-12.046c4.31 0 7.818 3.543 7.818 7.897 0 4.355-3.507 7.897-7.818 7.897C3.508 15.982 0 12.44 0 8.085 0 3.73 3.507.188 7.818.188zm17.065 8.388c1.466 0 1.913-1.364 1.913-2.367 0-.973-.447-2.367-1.913-2.367h-4.25v4.734h4.25zm5.606-2.367c0 3.413-2.414 6.018-5.589 6.018h-4.267v3.742h-3.507V.192H24.9c3.293 0 5.589 2.622 5.589 6.017zm17.345.926c.017.196.038.509.053.947.026.734-.013 1.185-.159 2.071-.592 3.589-3.342 5.818-7.175 5.818-4.307 0-7.81-3.539-7.81-7.89 0-4.35 3.503-7.89 7.81-7.89a7.763 7.763 0 0 1 5.976 2.814l.22.264-.284.192-2.526 1.701-.211.142-.177-.183c-.799-.825-1.863-1.208-2.998-1.208-2.314 0-4.197 1.83-4.197 4.169 0 2.337 1.883 4.239 4.197 4.239 1.956 0 3.254-1.116 3.508-2.362h-3.192V7.135h6.965zm16.403.002c.016.196.038.509.053.947.026.734-.013 1.185-.16 2.071-.592 3.589-3.341 5.818-7.175 5.818-4.307 0-7.81-3.539-7.81-7.89 0-4.35 3.503-7.89 7.81-7.89a7.765 7.765 0 0 1 5.977 2.813l.22.265-.284.192-2.526 1.7-.211.143-.178-.183c-.798-.825-1.863-1.208-2.998-1.208-2.314 0-4.197 1.83-4.197 4.169 0 2.337 1.883 4.239 4.197 4.239 1.957 0 3.255-1.117 3.509-2.362h-3.192V7.137h6.965zm-33.749 5.63c.874 0 1.586.719 1.586 1.601 0 .883-.712 1.601-1.586 1.601a1.595 1.595 0 0 1-1.584-1.6c0-.883.71-1.602 1.584-1.602z"
              ></path>
          </svg>
      </li>
      <% for(const item of topList){ %>
      <li <%= item.class == undefined ? "" : `class=${item.class}` %>>
        <img src="/imgs/header/<%= item.img %>.svg" alt="" />
        <span><%= item.name %></span>
      </li>
      <% } %>
    </ul>
    <div class="btns">
      <a href="/user/login">
        <button>로그인</button>
      </a>
    </div>
  </div>
  <div class="sub">
    <ul class="container">
      <% for(const item of subList){ %>
      <li <%= item.class == undefined ? "" : `class=${item.class}` %>>
        <span><%= item.name %></span>
      </li>
      <% } %>
    </ul>
  </div>
</div>
